".source.computercraft":
  editor:
    increaseIndentPattern: "^\\s*(else|elseif|for|(local\\s+)?function|[a-zA-Z_.:]+\\w*\\s*\\=\\s*function|if|repeat|until|while)\\b((?!\\bend\\b).)*$|\\{\\s*$"
    decreaseIndentPattern: "^\\s*(elseif\\s+.+\\s+then.*|else|end|\\})\\s*$"
    commentStart: "-- "
